.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(to top right, #D25A2A, #FCAF3A);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);

    .minus,
    .number,
    .plus {
        position: absolute;
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
        background-color: white;
    }

    .minus {
        left: calc(50% - 60px);
        border-radius: 100% 0 0 100%;

        .button {
            &::after {
                background-color: #E26E6E;
            }

            &:hover {
                background-color: #E26E6E;

                &::after {
                    background-color: white;
                }
            }
        }
    }

    .number {
        left: calc(50% - 20px);
        line-height: 40px;
        font-size: 20px;
        font-weight: 600;
        color: #6A85A0;

        span {
            display: block;
            position: absolute;
            width: 100%;
            text-align: center;
            user-select: none;

            &.fadeInUp {
                animation: fadeInUp .3s ease-in-out .3s both;
            }

            &.fadeOutUp {
                animation: fadeOutUp .3s ease-in-out both;
            }

            &.fadeInDown {
                animation: fadeInDown .3s ease-in-out .3s both;
            }

            &.fadeOutDown {
                animation: fadeOutDown .3s ease-in-out both;
            }
        }
    }

    .plus {
        right: calc(50% - 60px);
        border-radius: 0 100% 100% 0;

        .button {
            &::after {
                background-color: #8ED273;
            }

            &::before {
                content: '';
                position: absolute;
                height: 18px;
                width: 2px;
                top: calc(50% - 9px);
                left: calc(50% - 1px);
                transition: all .3s ease-in-out;
                background-color: #8ED273;
            }

            &:hover {
                background-color: #8ED273;

                &::after,
                &::before {
                    background-color: white;
                }
            }
        }
    }

    .button {
        position: absolute;
        left: calc(50% - 15px);
        top: calc(50% - 15px);
        width: 30px;
        height: 30px;
        border-radius: 100%;
        cursor: pointer;
        transition: all .3s ease-out;

        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 18px;
            top: calc(50% - 1px);
            left: calc(50% - 9px);
            transition: all .3s ease-in-out;
        }
    }

}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.7);
    }
}