.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    background: #E47512;
}

.center {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}

.cube {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateX(70deg) rotateZ(-45deg);
    transition: all 1s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateZ(-100px) rotateX(-120deg) rotateZ(135deg);
    }

    .side {
        position: absolute;
        width: 200px;
        height: 200px;
    }

    .top {
        transform: rotateY(0deg) translateZ(100px);
        background: #fff;
    }

    .bottom {
        transform: rotateX(-180deg) translateZ(100px);
        background: #ccc;
    }

    .back {
        transform: rotateY(90deg) translateZ(100px);
        background: #ddd;
    }

    .front {
        transform: rotateY(-90deg) translateZ(100px);
        background: #eee;
    }

    .left {
        transform: rotateX(90deg) translateZ(100px);
        background: #eee;
    }

    .right {
        transform: rotateX(-90deg) translateZ(100px);
        background: #ddd;
    }

}