.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    background: #2c2e2e;
    color: #000;
    overflow: hidden;
}

.pacman {
    position: absolute;
    height: 100px;
    width: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    fill: none;
    stroke: #f4d146;
    stroke-width: 50px;
    stroke-linecap: butt;
    stroke-dasharray: 157;
    stroke-dashoffset: 0;
    animation: pacman 0.7s ease-in-out infinite;
}

.eye {
    position: absolute;
    height: 12px;
    height: 12px;
    top: calc(50% - 6px - 20px);
    left: calc(50% - 6px + 20px);
    transform-origin: -20px 20px;
    animation: eye 0.7s ease-in-out infinite;
}

.dots {
    position: absolute;
    top: calc(50% - 7px);
    right: 0;
    width: 200px;
    height: 14px;
    stroke: #f4d146;
    stroke-width: 14px;
    stroke-dasharray: 0 50;
    stroke-dashoffset: 14;
    stroke-linecap: round;
    animation: dots 0.7s linear infinite;
}

@keyframes pacman {
    0%,
    100% {
        stroke-dashoffset: 0;
        transform: rotate(0deg);
    }

    50% {
        stroke-dashoffset: 40;
        transform: rotate(45deg);
    }
}

@keyframes eye {
    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-40deg);
    }
}

@keyframes dots {
    0% {
        stroke-dashoffset: 14;
    }
    100% {
        stroke-dashoffset: 64;
    }
}
