.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(to top right, #3B92AD, #5BA05B);
    color: #000;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 260px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;

    .title {
        position: relative;
        width: 100%;
        height: 49px;
        text-align: center;
        line-height: 49px;
        color: gray;
    }

    .line {
        position: absolute;
        width: 100%;
        height: 1px;
        top: 49px;
        background-color: #D8D8D8;
    }

    .bar-loading {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 48px;
        background-color: #6ECE3B;
        transition: all 3s ease;
        transform: translateX(-100%);

        &.active {
            transform: translateX(0);
        }
    }

    .main {
        position: absolute;
        width: 100%;
        height: 210px;
        bottom: 0;

        img {
            pointer-events: none;
        }

        .dropzone {
            display: block;
            position: absolute;
            height: 80px;
            width: 110px;
            top: calc(35% - 40px);
            left: calc(50% - 55px);
            border: 1px dashed gray;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: opacity .1s ease-out;

            input {
                display: none;
            }

            span {
                display: block;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                font-size: 12px;
                padding: 0 4px;
            }

            &.drag-over {
                background-color: #EEEEEE;
            }

            &.hide {
                opacity: 0;
                pointer-events: none;
            }
        }

        .upload-button {
            position: absolute;
            width: 130px;
            height: 40px;
            left: calc(50% - 65px);
            bottom: 20px;
            border-radius: 5px;
            background-color: #6ECE3B;
            color: #fff;
            font-size: 14px;
            text-align: center;
            line-height: 40px;
            box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            user-select: none;
            transition: all .1s ease-in-out;

            &:hover {
                box-shadow: 1px 2px rgba(0, 0, 0, 0.5),
                    1px 2px 5px 1px #6ECE3B;
            }

            &:active {
                transform: translateY(2px);
                box-shadow: none;
            }

            &.uploaded {
                cursor: not-allowed;
                background-color: gray;
                box-shadow: none;

                &:active {
                    transform: translateY(0);
                }

            }
        }

        .syncing,
        .done {
            position: absolute;
            top: calc(35% - 15px);
            left: calc(50% - 16px);
            opacity: 0;
        }

        .done {
            &.active {
                transition: opacity .5s ease-in;
                opacity: 1;
            }
        }

        .syncing {
            &.active {
                animation: syncing 3s ease-in-out;
            }
        }
    }
}

@keyframes syncing {
    0% {
        transform: rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}