.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #1e3242;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;

    .stripe {
        position: absolute;
        width: 2px;
        height: 20px;
        top: 90px;
        left: 99px;
        background: #fff;
    }
}

@for $i from 1 through 30 {
    $index-ring: $i - 1;
    .ring-#{$i} {
        animation: ring
            4s
            cubic-bezier(0.98, 0.02, 0.97, 0.12) -#{$index-ring *
            4 /
            30}s
            infinite;
        @for $j from 1 through 24 {
            .stripe-#{$j} {
                transform: rotate(random() * 360deg)
                    translateY(100px - random() * 40px)
                    scaleY(random());
            }
        }
    }
}

@keyframes ring {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(4);
    }
}
